*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color: antiquewhite;
    position: relative;
}
#nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(219, 128, 143);
    overflow: auto;
}
#nav h3{
    height:40px;
    align-content: center;
    font-family: 'Brush Script MT', cursive;
    color: rgba(120, 12, 53, 0.862);
    margin-right: auto;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
} 
  #nav a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px; 
  }
  #nav-part1 a{
    width: 36%;
  } 
  #nav a:hover {
    background-color: #bd2fac;
  }
  
  #nav-part1 a:hover{
    width: 36%;
    background-color: #bd2fac;
  }
  
  @media screen and (max-width: 500px) {
    #navbar a {
      float: none;
      display: block;
    }
}
#content{
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
    display: flex;
}
#left{
    width: 35%;
    height: 100%;
    padding: 120px 150px;
}
#left h5{
    font-size: 24px;
    margin-bottom: 25px;
    color: black;
    margin-right: 70px;
}
#left h1{
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-right: 70px;
}
#left p{
    font-size: 20px;
    width: 70%;
    margin-bottom: 60px;
    margin-right: 70px;
}
#left button{
    background-color: #000;
    color: #fff;
    font-size:16px ;
    font-weight: 600;
    padding: 15px 45px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    text-transform: uppercase;
    margin-right: 70px;
}
#right{
    height:100%;
    width:65%;
    position: relative;
    padding: 150px;
    white-space: nowrap;
    overflow: auto;
}
#right::-webkit-scrollbar{
    display: none;
}
.elem{
    height: 540px;
    width:380px;
    background-color: #fff;
    position: relative;
    border-radius:10px;
    margin-right: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: inline-block;
}
.elem img{
    height: 70%;
    width: 100%;
    top: 7%;
    object-fit: cover;
    position:absolute;
}
.elem h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(129, 121, 121);
    padding: 17px 30px;
    border-radius: 6px;
}
.elem h5{
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: rgb(16, 108, 126);
    color: #fff;
    font-weight: 500;
    padding: 20px 30px;
    font-size: 13px;
    border-radius: 6px;
}